<!-- Topbar Search -->
<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" action="@Url.Action("Search","AdminLoai")">
    <div class="input-group">
        <input type="text" class="form-control bg-light border-0 small" placeholder="Mã hoặc tên..." aria-label="Search" aria-describedby="basic-addon2" name="search" id="search">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-search fa-sm"></i>
            </button>
        </div>
    </div>
</form>

@*@using (Html.BeginForm("_SearchHangHoaPartial", "AdminHangHoa"))
{    
    @Html.TextBox("Query")
    <input type="submit" value="search" /> 
}*@
