@{
    ViewBag.Title = "Danh sách loại hàng";
}


<div class="container">
    <h2 style="color:#4e73df">Danh sách loại hàng</h2>
    &emsp;
    <hr />
    @Html.Partial("_IndexPartial")
</div>

@section Search{
    @Html.Partial("_SearchLoaiPartial")
}


