@{
    ViewBag.Title = "Danh sách hóa đơn";
}


<div class="container">
    <h2 style="color:#4e73df">Danh sách hóa đơn</h2>
    &emsp;
    <hr />
    @Html.Partial("_IndexPartial")
</div>

@section Search{
    @Html.Partial("_SearchHoaDonPartial")
}