<section id="home-section" class="hero">
    <div class="home-slider owl-carousel bg-light " style="height:450px">
        <div class="slider-item js-fullheight">
            <div class="overlay"></div>
            <div class="container-fluid p-0">
                <div class="row d-md-flex no-gutters slider-text justify-content-center" data-scrollax-parent="true">
                    <img  style="height:450px; width: 1150px " class="one-third order-md-last img-fluid" src="~/Images/bg_1.jpg" alt="">                   
                </div>
            </div>
        </div>

        <div class="slider-item js-fullheight">
            <div class="overlay"></div>
            <div class="container-fluid p-0">
                <div class="row d-flex no-gutters slider-text justify-content-center" data-scrollax-parent="true">
                    <img  style="height:450px; width: 1150px " class="one-third order-md-last img-fluid" src="~/Images/bg_2.jpg" alt="">
                    @*<div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        <div class="text">
                            <span class="subheading">#New Arrival</span>
                            <div class="horizontal">

                                <h1 class="mb-4 mt-3">Bộ sưu tập laptop mới</h1>
                                <p class="mb-4">
                                    Cơ hội cuối cùng để tiết kiệm trên máy Mac cho trường đại học.
                                    Tiết kiệm tới 200 đô la trên máy Mac và nhận Beats cho chúng tôi. Ưu đãi kết thúc ngày 26/9.
                                </p>

                                <p><a href="#" class="btn-custom">Discover Now</a></p>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>

        <div class="slider-item js-fullheight">
            <div class="overlay"></div>
            <div class="container-fluid p-0">
                <div class="row d-md-flex no-gutters slider-text justify-content-center" data-scrollax-parent="true">
                    <img style="height:450px; width: 1150px " class="one-third order-md-last img-fluid" src="~/Images/bg_3.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="slider-item js-fullheight">
            <div class="overlay"></div>
            <div class="container-fluid p-0">
                <div class="row d-md-flex no-gutters slider-text justify-content-center" data-scrollax-parent="true">
                    <img style="height:450px; width: 1150px " class="one-third order-md-last img-fluid" src="~/Images/bg_4.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="slider-item js-fullheight">
            <div class="overlay"></div>
            <div class="container-fluid p-0">
                <div class="row d-md-flex no-gutters slider-text justify-content-center" data-scrollax-parent="true">
                    <img style="height:450px; width: 1150px " class="one-third order-md-last img-fluid" src="~/Images/bg_5.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="slider-item js-fullheight">
            <div class="overlay"></div>
            <div class="container-fluid p-0">
                <div class="row d-md-flex no-gutters slider-text justify-content-center" data-scrollax-parent="true">
                    <img style="height:450px; width: 1150px " class="one-third order-md-last img-fluid" src="~/Images/bg_6.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="slider-item js-fullheight">
            <div class="overlay"></div>
            <div class="container-fluid p-0">
                <div class="row d-md-flex no-gutters slider-text justify-content-center" data-scrollax-parent="true">
                    <img style="height:450px; width: 1150px " class="one-third order-md-last img-fluid" src="~/Images/bg_7.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="slider-item js-fullheight">
            <div class="overlay"></div>
            <div class="container-fluid p-0">
                <div class="row d-md-flex no-gutters slider-text justify-content-center" data-scrollax-parent="true">
                    <img style="height:450px; width: 1150px " class="one-third order-md-last img-fluid" src="~/Images/bg_8.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="slider-item js-fullheight">
            <div class="overlay"></div>
            <div class="container-fluid p-0">
                <div class="row d-md-flex no-gutters slider-text justify-content-center" data-scrollax-parent="true">
                    <img style="height:450px; width: 1150px " class="one-third order-md-last img-fluid" src="~/Images/bg_9.jpg" alt="">
                </div>
            </div>
        </div>

        

    </div>
</section>
