
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_QLBHLayout.cshtml";
}

<section class="ftco-section ftco-cart" id="cartContainer">
    @Html.Partial("_IndexPartial")
</section>

@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}

@section styles{
    <style type="text/css">
        .btn-save, .btn-remove {
            width: 30px !important;
            background-color: #fdf59a9e;
        }
    </style>
}


